.wrapper-content{
	display: flex;
	flex-direction: column;
}
.wrapper-content{
	display: flex;
	justify-content: space-around;
	height: 100%;
}
.content-modal{
	height: 100%;
}
.wrapper-info{
	display: flex;
	align-items: center;
	justify-content:  space-around;
	width: 100%;
}
.button-container{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
}
