<div  class="main-content-background">
  <header>
    <mat-toolbar class="mat-toolbar-otherpages">
      <img src="../assets/logo.svg">
    </mat-toolbar>
  </header>
  <section class="main-content">
    <div class="main-text"> 
      <span >Seja bem vindo em nossa plataforma</span>
    </div>
    <div>    
      <mat-card class="card mat-elevation-z0" >
        <div>
          <button class="card-btn">
            <div>
              <img src="../assets/google-logo.svg" class="logo-google">
            </div>
            Logar com o google 
          </button>
        </div>
      </mat-card>
    </div>
  </section >
</div>
