<div class="main-content-background">
  <header>
    <mat-toolbar class="mat-toolbar-otherpages">
      <img src="../assets/logo.svg">
    </mat-toolbar>
  </header>
  <section class="main-content">
    <div class="main-text"> 
      <span >Organize sua carteira com nosso sistema</span>
    </div>
    <div>    
      <mat-card class="card mat-elevation-z0" >
        <div class="wrapper_content">
          <a class="card-btn" href="http://localhost:8080/oauth2/authorization/google" target="_blank">
            <div>
              <img src="../assets/google-logo.svg" class="logo-google">
            </div>
            Continuar com o google 
          </a>
          <div class="wrapper_input">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Confirmar Senha">
            <div class="wrapper-button-text">
              <a mat-button href="https://www.google.com/" [routerLink]="['/login']">Ja tem uma conta?</a>
            </div>
          </div>
          <button mat-flat-button class="button-login">Registrar</button>
        </div>
      </mat-card>
    </div>
  </section>
</div>

