
.wrapper_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 90%;
  justify-content: space-around;
}
.card-btn{
  width: 301px;
  height: 52px;
  border: 2px solid #000;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  text-decoration:none;
  color:#000
}
input{
  width: 410px;
  height: 90px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 300;
  padding: 0px 20px;
  outline: none;
}

.form-field{
  width: 100%;
}

.wrapper_input{
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper_input-register{
  height: 530px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper-button-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-login{
  width: 178px;
  height: 52px;
  border-radius: 6px;
  background: #18A0FB;
}