<header class="wave-background">
  <mat-toolbar class="mat-toolbar-home">
    <img src="../assets/logo.svg" alt="">
    <button class="button-stroked">Entrar</button>
  </mat-toolbar>
  <div class="wrapper-main-header">
    <div class="wrapper-header-left">
      <div class="wrapper-main-text">
        <span class="main-text">Teste nossa plataforma de controle financeiro gratuitamente</span>
      </div>
      <img src="../assets/wallet-home.svg" alt="">
    </div>
    <div class="wrapper-inputs">
      <input type="text" placeholder="nome">
      <input type="text" placeholder="nome da empresa(Opcional)">
      <input type="text" placeholder="email">
      <input type="text" placeholder="senha">
      <button  mat-flat-button class="start-button">Começar</button>
    </div>
  </div>
</header>
<section>
  <div class="middle-content">
      <span class="text-about-us">Como podemos te ajudar</span>
  </div>
  <div class="wave-background-bottom ">
    <div class="error">
      <mat-card class="card">
        <mat-icon class="icon">account_balance_wallet</mat-icon>
        <div class="hr-wrapper">
          <hr>
        </div>
        <div class="content-card">
          <span>• Gerenciamento de sua carteira</span>
          <span>• Calculos rapidos</span>
          <span>• Se planeje com setores</span>
          <span>• Historico para tudo que fizer</span>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="middle-card">
    <div>
      <img src="../assets/arrow-image.svg">
    </div>
    <div class="wrapper-card-middle">
      <mat-card class="card-middle">
        <mat-icon class="icon">pie_chart</mat-icon>
        <div class="hr-wrapper">
          <hr>
        </div>
        <div class="content-card">
          <span>• Graficos personalizados </span>
          <span>• Divisão em setores </span>
          <span>• Filtros para maior controle </span>
          <span>• Facil de entender </span>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="last-card-wrapper info">
    <div>
      <img src="../assets/arrow-image.svg">
    </div>
    <div class="last-card">
      <mat-card class="final-card">
        <mat-icon class="icon">print</mat-icon>
        <div class="hr-wrapper">
          <hr>
        </div>
        <div class="content-card">
          <span>• Exportar em excel</span>
          <span>• Preparar arquivo a ser exportado</span>
          <span>• Historico de arquivos exportados</span>
          <strong>maior controle em um clique</strong>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="wave-final-background"></div>
</section>
<div class="wrapper-final-button">
  <button class="final-button">
    <span>TESTAR PLATAFORMA</span> 
    <div>
      <mat-icon class="icon-final-button" >east</mat-icon>
    </div>
  </button>
</div>

